#playerFixed {
   position:fixed;
   left:0px;
   bottom:0px;
   height:60px;
   width:100%;
   background: #F3F3F3;
}

/* IE 6 */
* html footer #playerFixed {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

.round-button {
    display:block;
    width:50px;
    height:50px;
    line-height:45px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color: #f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button:hover {
    background: #262626;
}

.roundVolume {
    display:block;
    width:30px;
    height:30px;
    line-height:30px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:15px;
    font-weight:bold;
}
.roundVolume:hover {
     background: #262626;
}

.volumeTrack {
  padding: 5px;
  /*margin-top: 10px;*/
  margin-bottom: 5px;
  text-align: center;
  align-items: center;
  position: relative;
  width: 200px;
}

#volume {
    background: #333;
    border-radius: 13px;
    height: 5px;
    padding: 3px;
    width: 100%;
}

#volume .volumeSlider {
    content: '';
    display: block;
    background: orange;
    width: 50%;
    height: 100%;
    border-radius: 9px;
}
#volumeControll .volumeTrack  {
  display: flex;
  align-items: center;
    position: absolute;
    left: 0;
    bottom: -50px;
    right: 0;
    top: 100px;
    background-color: #999;
    transition: all .5s linear;
}

#volumeControll .volumeTrack.volume {
    bottom: 0;
    top: 0;
}
@media only screen and (max-width: 500px) {
    #track  {
        width: 30%;
    }
    .flex_container {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
}

